p, h1, h3, a {
	font-family: Georgia, Utopia, Charter,serif;
}

img {
	height: 50px;
	width: 50px;
	/*float: right;*/
}

div.container {
	position: relative;
}

div.sidebar {
	position: fixed;
	width: 280px;
	top: 0; bottom: 0; left: 0;
	padding: 0 0 0 20px;
}

div.content {
	position: relative;
	margin: 0 0 0 300px;
}

div.section {
	position: relative;
	width: 90%;
	font-size: 1.1em;
}

div.codebox {
	position: relative;
    background-color: #F6F6F6;
    overflow: auto;    
    padding: 10px;
}

div.methods {
	margin-left: 50px;
}

a {
	text-decoration: none;
	color: green;
}

code {
	font-size: 1.05em;
}

code.text {
	padding: 0px 4px;
	border: solid;
	border-width: 1px;
	border-color: #F6F6F6;
	color: green;
}

#welcome {
	padding: 100px 80px;
	text-align: center;
	font-size: 1.3em;
}

#header a {
	font-weight: bold;
	font-size: 1.3em;
	/*margin-left: 100px;*/
	letter-spacing: -5px;
	color: black;
}
