div.content {
	position: relative;
	width: 80%;
	margin: auto;
	/*Top, bottom: 100px; Left, right: 0px;*/
	font-size: 1.1em;
}

div.codebox {
    background-color: #F6F6F6;
    width: 100%;
    overflow: auto;    
    padding: 10px;
}

div.methods {
	margin-left: 50px;
}

code {
	font-size: 1.05em;
}

code.text {
	padding: 0px 4px;
	border: solid;
	border-width: 1px;
	border-color: #F6F6F6;
	color: green;
}

#welcome {
	padding: 100px 0px;
	text-align: center;
	font-size: 1.5em;
}

.footer {
	text-align: center;
}

hr {
	width: 80%;
}